# Environnement : development | production
APP_ENV=development
APP_URL=http://localhost

# Base de données PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=gestion_theatre
DB_USER=theatre_user
DB_PASS=votre_mot_de_passe_ici

# Email
MAIL_FROM=noreply@votre-domaine.fr
MAIL_FROM_NAME="Gestion Théâtre"
